[submodule "email_microservice"]
	path = email_microservice
	url = https://github.com/GreyTeam2020/email_microservice.git
[submodule "restaurants_microservice"]
	path = restaurants_microservice
	url = https://github.com/GreyTeam2020/restaurants_microservice.git
[submodule "users_microservice"]
	path = users_microservice
	url = https://github.com/GreyTeam2020/users_microservice.git
