<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% if "RESTAURANT_ID" in session %}
    <li class="nav-item">
        <a class="nav-link" href="/restaurant/menu">Menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/restaurant/photogallery">Photo Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/restaurant/reservations">List Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/restaurant/data">Restaurant Settings</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="/restaurant/create">Create your Restaurant</a>
    </li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="/user/data">User Profile</a>
</li>