{%  include "header.html" %}
<input id="id_id" name="id" type="hidden" value="{{_test}}">
  <!-- Page Content -->
  <div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 profile-cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&w=130" alt="restaurant" width="130" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ name }}</h4>
                        <p class="small mb-4"> <i class="fas fa-phone mr-2"></i>Phone: {{ phone }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ likes }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Likes</small>
                    </li>
                </ul>
            </div>
            {% if session['ROLE'] == 'CUSTOMER' %}
                <p align="center"><button class="btn btn-primary showBooking" data-id="{{ id }}">Book a Table</button></p>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0">Info</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <b>Opening hours:</b><br>
                        <ul>
                        {% for hour in hours: %}
                            <li>{{ weekDaysLabel[hour.week_day] }} : {{ hour.open_lunch.strftime("%H:%M") }} - {{ hour.close_lunch.strftime("%H:%M") }}, {{ hour.open_dinner.strftime("%H:%M") }} - {{ hour.close_dinner.strftime("%H:%M") }}</li>
                        {% endfor %}
                        </ul>

                        <b>Phone:</b><br>
                        <p>{{ phone }}</p>

                        <b>Cuisine Type:</b><br>
                        <ul>
                        {% for c in cuisine %}
                            <li>{{ c.cusine }}</li>
                        {% endfor %}
                        </ul>

                        <b>Anti-COVID Measures:</b><br>
                        <p>{{ covid_measures }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-0">Map</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <div id="map" style="height:400px"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-sm-7">
                    <h1 align="center">Our Menu</h1>
                    {% if dishes|length == 0 %}
                         <h5 align="center">No dishes inserted yet</h5>
                    {% endif %}
                    <ul class="list-group">
                        {% for dish in dishes %}
                            <li class="list-group-item">
                              <h4 class="list-group-item-heading">{{ dish.name }}<span class="badge float-right">{{ dish.price }} €</span></h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class=" mb-3">
                    <h1 align="center">Photos</h1>
                    {% if photos|length == 0 %}
                         <h5 align="center">No photo uploaded yet</h5>
                    {% endif %}
                </div>
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-lg-4 mb-2 pr-lg-1"><img src="{{ photo.url }}" alt="" class="img-fluid rounded shadow-sm"><p class="text-center">{{ photo.caption }}</p></div>
                    {% endfor %}
                </div>
            </div>

            <!-- Review section -->
            <div class="py-4 px-4">
              <div class="row justify-content-center">
                <h2> What customers say about us</h2>
              </div>  
            </div>
            <div class="py-4 px-4">
              
              {% if reviews %}
                <div class="row">
                {% for review in reviews %}
                
                  <div class="col-md-4">
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                        <div class="ratingStats mr-auto" data-rating="{{ review.stars }}"></div>
                        <small>{{ review.data.strftime("%d/%m/%Y %H:%M") }}</small>
                      </div>
                      <div class="toast-body">
                        {{ review.review }}
                      </div>
                    </div>
                  </div> 
                
              
                
                {% endfor %}
                </div>
              
              {% else %}
              <div class="row justify-content-center">
                <h5>There are no reviews for this restaurant.</h5>
              </div>
                
              {% endif %}
              </div>
              {% if session["ROLE"] == "CUSTOMER" %}
              <div class="py-4 px-4">
                <div class="row justify-content-center">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#reviewRestaurant">Review this restaurant</button>
                </div>
              </div>
              {% endif %}
          </div>
        </div>
    </div>
</div>
  {% if book_form %}
  <!-- Booking Content -->
   <div class="modal" tabindex="-1" role="dialog" id="bookTable">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Book form -->
            <form id ="bookTableForm" action="/restaurant/book" method="POST">
              <dl class="center-datepicker">
               {% for field in book_form.display %}
                   <dt>{{ book_form[field].label }}</dt>
                   <dd class="text-center">{{ book_form[field](class_="form-control", placeholder=book_form[field].label.text) }}</dd>
                     {% if book_form[field].errors %}
                        {% for e in book_form[field].errors %}
                         <p class="help-block">{{ e }}</p>
                        {% endfor %}
                     {% endif %}
               {% endfor %}
               {% if error %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endif  %}
              </dl>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="newBook">Book!</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if review_form %}
    <div class="modal" tabindex="-1" role="dialog" id="reviewRestaurant">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id ="reviewForm" action="/restaurant/review/{{ id }}" method="POST">
                <dl>
                 {% for field in review_form.display %}
                     <dt>{{ review_form[field].label(class_="sr-only") }}</dt>
                     <dd>{{ review_form[field](class_="form-control", placeholder=review_form[field].label.text) }}</dd>
                       {% if review_form[field].errors %}
                          {% for e in review_form[field].errors %}
                           <p class="help-block">{{ e }}</p>
                          {% endfor %}
                       {% endif %}
                 {% endfor %}
                 {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif  %}
                </dl>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="submitReview">Review!</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <script>
        var map = L.map('map').setView([{{ lat }}, {{ lon }}], 17);;
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
        L.marker([{{ lat }}, {{ lon }}]).addTo(map);
    </script>
{%  include "footer.html" %}


