{% include 'header.html' %}
  <!-- Page Content -->
  <input id="id_id" name="id" type="hidden" value="{{_test}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5"><img class="mb-4" src="{{ url_for('static',filename='images/logo.png') }}" alt="" height="54">GoOutSafe</h1>
            <h2 class="mt-5">Restaurants</h2>
            {% if search|length != 0 %}
                <h2>You search for: {{ search }}</h2>
            {% endif %}
            <br>
            <button class="btn btn-secondary mb-3" id="switchView">Switch to Map View</button>
            <div id="card-view">
                <div class="row lead d-flex justify-content-center">
                {% if restaurants|length == 0 %}
                    <h3>No restaurant found</h3>
                {% endif %}
                {% for restaurant in restaurants%}
                    <div class="card text-white bg-light m-1" style="max-width: 20rem;">
                      <div class="card-header text-dark text-capitalize">{{ restaurant.name }}</div>
                      <div class="card-body">
                        <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="card-img-top" alt="logo restaurant"/>
                        <div class="ratingStats" data-rating="{{ restaurant.rating }}"></div>
                        <a href="/restaurant/{{ restaurant.id }}"><button class="btn btn-link">Visit</button></a>&nbsp;
                        <a href="/login"><button class="btn btn-primary">Book</button></a>
                      </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div id="map-view" style="height:600px;display:none"></div>
      </div>
    </div>
  </div>

    <script>
        var map = L.map('map-view').setView([51.505, -0.09], 13);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
        var markers = []
        {% for restaurant in restaurants%}
            markers.push(L.marker([{{ restaurant.lat }}, {{ restaurant.lon }}]).addTo(map));
        {% endfor %}
        var group = new L.featureGroup(markers);
    </script>
{% include 'footer.html' %}